<table id="shoppingBag-table">

  <thead>
    <tr>
      <th scope="col" id="thumbnail"></th>
      <th scope="col" id="productName"><span class="left">Item Name</span></th>
      <th scope="col" id="price">Price</th>
      <th scope="col" id="quantity">Quantity</th>
      <th scope="col" id="total">Total</th>
      <th scope="col" id="remove"></th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td colspan="4" >Cost before shipping</td>
      <td colspan="2" >= <strong><%= number_to_currency current_order.price %></strong></td>
    </tr>
    <tr>
      <td colspan="6">
        <%= link_to 'Continue shopping', root_url, :rel=> "continue", :title=> "I want to continue shopping." %> or
        <%= link_to raw('Proceed To Checkout'), checkout_path, :rel=>"submit", :title=> "I am ready to checkout." %>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <% if current_order.products.empty? %>
      <tr><td colspan="6">Your cart is currently empty.</td></tr>
    <% else %>
      <% current_order.line_items(:include => :product).order('id').each do |line_item| %>
        <tr>
          <td class="thumb"><%= link_to image_tag(line_item.product.picture.url(:thumbnail), :size => '60x60', :alt => line_item.product.name), line_item.product.picture.url, :class => 'single_image' %></td>
          <td class="left"><%= link_to line_item.product.name, product_path(line_item.product) %></td>
          <td><%= number_to_currency line_item.product.price %></td>
          <td>
            <%= link_to '&lt;', cart_path(:product_id => line_item.product.id, :quantity => line_item.quantity - 1), :method => :put, :class => 'buttonLess' %>
            <span class="amount"><%= line_item.quantity %></span>
            <%= link_to '&gt;', cart_path(:product_id => line_item.product.id, :quantity => line_item.quantity + 1), :method => :put, :class => 'buttonMore' %>
          </td>
          <td class="productTotal"><%= number_to_currency line_item.price %></td>
          <td>
            <%= link_to raw('Remove'), cart_path(:product_id => line_item.product.id), :method => :delete, :title => "Remove #{h line_item.product.name} from my cart.", :class=> "delete" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table><!-- end shoppingBag-table -->
