<div id="main">
  <div class="gallery">

  	<div id="productImage">
  		<div id="slideshow" class="pics">
  		  <%= link_to image_tag(@product.picture.url, :size => '420x420', :alt => @product.name) + (@product.new? ? image_tag('new.png', :alt => 'New Item', :class => 'productNew') : ''), @product.picture.url, :class => 'single_image' %>
  		</div>
  	</div>

  	<div id="productDetails">
  		<h2><%= @product.name %></h2>
  		
  		<ul>
  		  <li><%= number_to_currency @product.price %></li>
  		  <li><%= simple_format @product.description %></li>
  		  <li>
          <%= link_to raw('Add to Shopping Cart'), cart_path(:product_id => @product.id), :title=>"Add #{h @product.name} to my Shopping Cart.", :method => :post, :class=> "add-to-cart" %>
  		  </li>
  		</ul>

<!--  		
  		<p class="productPrice"><%= number_to_currency @product.price %></p>
  		<%= simple_format @product.description %>
  		<p></p>

      <p>
        <%= link_to raw('Add to Shopping Cart'), cart_path(:product_id => @product.id), :title=>"Add #{h @product.name} to my Shopping Cart.", :method => :post, :class=> "add-to-cart" %>
      </p>
-->

  	</div>

  </div>
</div>
