<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en-US" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= yield(:description) %>" />
    <meta name="keywords" content="<%= yield(:keywords) %>" />
    <meta name="robots" content="INDEX,FOLLOW" />

    <%= stylesheet_link_tag 'default' %>
    <!--[if IE 7]><%= stylesheet_link_tag 'ie7-fix' %><![endif]-->
    <!--[if gt IE 7]><%= stylesheet_link_tag 'ie8-fix' %><![endif]-->

    <%= javascript_include_tag  'vendor/json2', 'vendor/jquery-1.5', 'vendor/underscore-1.1.6', 'vendor/backbone', 'application' %>

    <%= csrf_meta_tag %>
    <link href='http://fonts.googleapis.com/css?family=Corben:700&v2' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%= body_class %>">
    <%= render '/layouts/flash' %>

    <div id="container">
      <!--[if IE]><div class="m-tl"></div><div class="m-tr"></div><![endif]-->

      <%= render '/layouts/header' %>

      <div id="content">
        <%= yield %>
      </div>

      <!--[if IE]><div class="m-bl"></div><div class="m-br"></div><![endif]-->
    </div>

    <%= render '/layouts/footer' %>
    <%= render '/layouts/templates' %>

  </body>
</html>
