<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en-US" lang="en-US" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= yield(:description) %>" />
    <meta name="keywords" content="<%= yield(:keywords) %>" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <link href='http://fonts.googleapis.com/css?family=Corben:700&amp;v2' rel='stylesheet' type='text/css' />
    <%= stylesheet_link_tag 'default' %>

    <!--[if IE 7]><%= stylesheet_link_tag 'ie7-fix' %><![endif]-->
    <!--[if gt IE 7]><%= stylesheet_link_tag 'ie8-fix' %><![endif]-->


    <%= csrf_meta_tag %>

  </head>
  <body class="<%= body_class %>">
    <% if flash %>
      <% flash.each do |key, value| %>
        <div class="flash flash_<%= key %>"><%=h value %></div>
      <% end %>
    <% end %>

    <div id="container">
      <!--[if IE]><div class="m-tl"></div><div class="m-tr"></div><![endif]-->

      <div id="header">
        <div>
          <h1 style='float:left;'>
            <%= link_to 'BackboneCart', root_url, :title => 'BackboneCart' %>
          </h1>

          <div id="details">
            <ul>
              <li>Cost  <%= number_to_currency current_order.price %></li>
              <li class="shopping-cart" ><%= link_to raw("Shopping Cart"), cart_path, :title => "Shopping Bag", :rel => "shopping-cart" %>
                <span class="line-item-count" ><%= current_order.line_items.count %></span>
              </li>
            </ul>
          </div>
        <div style='clear:both;'></div>
      </div>
    </div> <!-- end of header -->

      <div id="content">
        <%= yield %>
      </div>

      <!--[if IE]><div class="m-bl"></div><div class="m-br"></div><![endif]-->
    </div>

    <div id="footer" style='background: #dce8ee;border:2px solid #c3cfd6;'>
      <div style='float:left;'>
        <%= link_to image_tag('http://www.bigbinary.com/images/bigbinary_logo_web.png', :height=>60, :width=>160, :alt=> "BigBinary.com"), 'http://BigBinary.com' %>
      </div>
      <div style='float:right; width: 700px;line-height: 25px;'>
        BackboneCart is an open source application meant to enhance learning of Backbone.js.
        We have produced a detailed step by step video of how to create this application using Backbone.js.
        You will find a lot more resources about Ruby on Rails, jQuery and Backbone at
        <%= link_to 'BigBinary.com', 'http://BigBinary.com' %>
      </div>
      <div style='clear:both;'></div>
    </div>

    <%= javascript_include_tag 'jquery', 'rails', 'application' %>

  </body>
</html>
